.box1, .box2, .box3 {
    height: 100vh;
    width: 100%;
}
canvas {
    display: block;
}

@media screen and (max-width: 768px) {
    .box2{
        height: 100vh;
        width: 100%;
    }
    .box1{
        height: 0;
        margin-bottom: 20px;
    }
}