
#parcours section {
  padding: 100px 0;
}

#parcours {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
  background-color: #1E1E1E;
  margin-top: 200px;
}

#parcours section p {
  font-family: "Poppins";
}

#parcours h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  background: #2d2d34;
  width: 5px;
  height: 95%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
  
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #2d2d34 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #2d2d34;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #2d2d34;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #0081C9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
  z-index: 1000;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

#parcours blockquote {
  margin-top: 30px;
  color: #fff;
  border-left-color: #0081C9;
  padding: 0 20px;
  font-size: 22px;
  font-weight: 500;
}

.date {
  background: #0081C9;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.timeline-content p {
  font-size: 15px;
}

.timeline-content p,
.timeline-content h2 {
  color: #fff;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2d2d34 transparent transparent;
  }
  .timeline-content p {
    font-size: 12px;
  }
  .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 17px;
    font-size: 18px;
  }
  #parcours blockquote {
    margin-top: 30px;
    color: #fff;
    border-left-color: #0081C9;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
  }
  .timeline-content {
    position: relative;
    width: 35%;
    padding: 40px 5px;
    border-radius: 4px;
    background: #2d2d34;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }
  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 5px 10px 30px;
  }
  
}